# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Data (large files)
data/*.parquet
data/*.csv
*.parquet
*.csv
!data/*_sample.csv

# PDF & DOCX
*.pdf
*.docx

# Models
*.pth
*.pt
*.h5
models/

# IDE
.idea/
.vscode/
*.swp

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
*.key
secrets/

# Large raw datasets (keep in local, not on GitHub)
*.zip
dataset /
dataset*/
充电数据*.xlsx
docs/_tmp_*.npy
